  
body {
    margin: 0;
    background-image: url( "../images/fundo3.jpg");
    /*font-family: "Audiowide", sans-serif;*/
    
 }
  
.p-nome {
  background-color: Azure; 
  border: 1px solid Blue; 
  padding: 4px; color:blue
}