body {
    margin: 0;
    background-image: url('../images/back.jpg');


}

.div-log {

    background-color: #fff;
    width: 230px;
    height: 290px;
    position: absolute;
    top:  200px;
    left: 640px;
    padding: 2px;
    border: 2px inset #999; 
     /*border-left: 4px solid #666; */
    
}

.botao {
  color:  #fff;
  padding: 5px 70px;
  text-align: center;
  background-color: #1E90FF;
  border: 2px solid #999;
  position: relative;
  top:  15px;
  left: 25px;   
  border-radius: 3px;
  
}

.botao:hover {

    background-color: #B0C4DE; 
   
}

.input {
    position: relative;
    top:  5px;
    left: 10px;    
    border: 1px solid #999;
    border-radius: 3px;
   
}
input:focus {    
    border: 2px solid #555;
 
}

/*.h1-login {
    font-size: 30px;
    text-align: center;
    position: relative;
    top:  -15px;
    left: 5px;  
    font-family: Arial, Helvetica, sans-serif;
    background-color: #999;
    width: 220px;
    height: 40px;
}*/

.img-login {
    position: relative;
    top:  10px;
    left: 12px;  
    width: 200px;
    height: 45px;
        
} 


 .label {
    color: #999;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top:  20px;
    left: 10px;   
 }
 .esq {
    text-align: center;  
    font-size: 12px; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #666;
    position: relative;
    left: 5px;
    top:  40px;

}

.esq:hover {

    color: #999;


}



/* --- PRINCIPAL --- */

.body-principal {
    margin: 0;
    background-image: url( "../images/fundo3.jpg");
    
 }
  
.p-nome {
  background-color: Azure; 
  border: 1px solid Blue; 
  padding: 4px; color:blue
}

.div-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    padding: 25px;
    text-transform: uppercase;
    list-style: none;
    
}
.div-nav a {
    color: aliceblue;
    text-decoration: none;
    transition: .5s;
    font-size: 13px;
    margin: 0 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif; 
    
}

.div-nav a:hover {
    color: #999;
   
    /*text-decoration: underline;*/

}

/* --- Cad_produtos ---*/

.cad-label {

    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px;
   margin: 0;
      
}
 .cad-input {
    border: 1px solid #666;
    border-radius: 3px;
 }
 .cad-input:focus {    
    border: 2px solid #000;
 
}

.cad-h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
}

.botao-cadastrar {
    color:  #fff;
    padding: 5px 50px;
    text-align: center;
    background-color: #006400;
    border: 2px solid #999;
    position: relative;
    top:  -10px;
    left: 30px;   
    border-radius: 7px;
    
  }
  
  .botao-cadastrar:hover {
  
      background-color: #8FBC8F; 
     
  }

  .botao-alterar {
    color:  #fff;
    padding: 6px 50px;
    text-align: center;
    background-color:#1E90FF;
    border: 2px solid #999;
    position: relative;
    top:  -10px;
    left: 50px;   
    border-radius: 7px;
    
  }
  
  .botao-alterar:hover {
  
      background-color: #87CEFA; 
     
  }
  .botao-limpar {
    color:  #fff;
    padding: 6px 50px;
    text-align: center;
    background-color:#DAA520;
    border: 2px solid #999;
    position: relative;
    top:  -10px;
    left: 70px;   
    border-radius: 7px;
    
  }
  
  .botao-limpar:hover {
  
      background-color: #F0E68C; 
     
  }
  .botao-cancelar {
    color:  #fff;
    padding: 5px 50px;
    text-align: center;
    background-color:#B22222;
    border: 2px solid #999;
    position: relative;
    top:  -10px;
    left: 90px;   
    border-radius: 7px;
    
  }
  
  .botao-cancelar:hover {
  
      background-color: #F08080; 
     
  }